# Git
.git
.gitignore

# Python
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.pytest_cache/
.mypy_cache/

# Local media y estáticos
media/
staticfiles/

# Entorno
.env
.env.local
.env.*
